<h1 class="page-header">Adminsitradores</h1>
<% if @admin.errors.any? %>
    <% @admin.errors.full_messages.each do |message| %>
    <script>
      $.notify("<%= message %>", "error")
    </script>
    <% end %>
    </ul>
</div>
<% end %>

<div class="panel panel-default">
        <div class="panel-heading">
            <%= action %>
        </div>
          <div class="panel-body">
            <div class="col-lg-6">
              <%= form_for ([:backoffice, @admin]) do |f|%>
                <div class="form-group">
                  <label>Nome</label>
                  <%= f.text_field :name, class: "form-control", placeholder: "Nome" %>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <%= f.text_field :email, class: "form-control", placeholder: "admin@admin.com" %>
                </div>
              <% if policy(@admin).edit? %>
                <div class="form-group">
                  <label>Email</label>
                  <%= f.label :role %>
                  <%= f.collection_radio_buttons(:role, options_for_roles, :id, :description) do |b| %>
                    <div class="radio">
                      <%= b.label {b.radio_button + b.text} %>
                    </div>
                  <% end %>
                </div>
              <% end %>
                <div class="form-group">
                  <label>Senha</label>
                  <%= f.password_field :password, class: "form-control", placeholder: "Senha" %>
                </div>
                <div class="form-group">
                  <label>Confirmação de Senha</label>
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmação de Senha" %>
                </div>
                  <%= f.submit class: "btn btn-default" %>
                </div>
              <% end %>
      </div>
        </div>
        <!-- /.panel-body -->
    </div>
