                <h1 class="page-header">Categorias</h1>
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <%= action %>
                        </div>
                          <div class="panel-body">
                            <div class="col-lg-6">
                              <%= form_for ([:backoffice, @category]) do |f|%>
                                <div class="form-group">
                                  <label>Descrição</label>
                                  <%= f.text_field :description, class: "form-control", placeholder: "Ex: Animais/Pet" %>
                                </div>
                                  <%= f.submit class: "btn btn-default" %>
                                </div>
                              <% end %>
                      </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <% if @category.errors.any? %>
                        <% @category.errors.full_messages.each do |message| %>
                        <script>
                          $.notify("<%= message %>", "error")
                        </script>
                        <% end %>
                        </ul>
                    </div>
                    <% end %>
